body {
    padding: 20px;
}

#search-form, .form-control {
    margin-bottom: 25px;
    margin-top: 25px;
}

.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}


.cover:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}


#results {
  margin-bottom: 96px;
}


.cover.playing-album {
    border: 5px solid #1DB954;
}

.loading, .notfound {
    position: relative;
    top: 50%;
    left: 40%;
    width: 200px;
    height: 100px;
    margin: 40px 0 0;
    line-height: 20px;
    font-size: 96px;
    color: black;
    text-align: center;
    background-color: rgba(#000,.7);
    @include border-radius(10px);
}

.loading i {
    color:#1DB954;
}

.notfound i {
    color: gray;
}
.notfound p {
    margin-top: 10px;
    text-align: center;
    color: gray;
    font-size: 24px;
}

.play {
  font-size: 42px;
}


.playing {
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 61px;
}

#player {
  color: white;
  overflow: hidden;
  opacity: 0.9;
}

.player-content {
  display: inline-block;
  margin-left: 32px;
}

.player-content i {
  font-size: 18px;
}

.artist-name {
  font-size: 14px;
  color: darkgray;
}
